/* :root {
  --margin-block: 25px;
  --padding-box: 15px;
} */

.join-us {
  color: #ffffff;
  text-transform: uppercase;
  width: 15vw;
}

.join-us > h3 {
  font-family: "Oswald", sans-serif;
  font-size: 18px;
  margin-block-end: var(--margin-block);
}

#subscribe {
  display: flex;
  flex-direction: column;
}

.motto-subscribe,
.go-button {
  margin: 10px 0;
}

.form-element {
  outline: none;
  padding: var(--padding-box);
  background: transparent;
  border: 1px solid #ffffff;
  color: #ffffff;
}

.form-element::placeholder {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
}

.form-element:-webkit-autofill,
.form-element:-webkit-autofill:hover,
.form-element:-webkit-autofill:focus,
.form-element:-webkit-autofill:active {
  -webkit-text-fill-color: #ffffff;
}

.form-element:focus {
  border: 1px solid var(--crimson);
}

.go-button {
  background: #ffffff;
  border: none;
}
