/* .sign-in {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  width: 100vw;
} */

/* .register-container {
  border: 1px solid var(--light-grey);
  border-top: 5px solid black;
  padding: 25px;
  width: 70vw;
  height: auto;
  box-shadow: var(--grey-box-shadow);
  display: flex;
  justify-content: space-around;
} */
/* 
.new-account {
  display: flex;
  flex-direction: column;
  padding: 25px;
  width: 45%;
  height: auto;
} */

/* .new-customers,
.new-customers-details {
  color: var(--dark-grey);
  margin: 3px 0;
} */

/* .registered-customers,
.new-customers {
  font-family: "Open Sans", sans-serif;
}

.new-customers {
  font-size: 18px;
}

.new-customers-details {
  font-size: 13px;
} */

.account-button {
  padding: 10px;
}

.account-button {
  outline: none;
  border: none;
  color: #ffffff;
  text-transform: uppercase;
  background-color: black;
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  margin: 5px 0;
  cursor: pointer;
}

.forgot-link {
  text-decoration: none;
  color: black;
}

.forgot-link:hover {
  text-decoration: underline;
}

.new-account {
  padding: 15px;
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  background-color: black;
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  margin: 5px 0;
  cursor: pointer;
  text-align: center;
}
