.info {
  display: flex;
  flex-direction: column;
  padding: 25px;
  width: 50%;
  height: auto;
}

.full-width {
  width: 100%;
}

.subtitle,
.details {
  color: var(--dark-grey);
  margin: 3px 0;
}

.details {
  font-size: 13px;
}

.subtitle {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.grid {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  column-gap: 25px;
  align-self: center;
}
