.card-title,
.card-actions {
  background-color: var(--white-smoke);
  padding: 10px 15px;
  font-size: 13px;
}

.card-title {
  border-bottom: 1px solid var(--grimmys-grey);
  margin-block-start: 0;
  margin-block-end: 0;
}

.card-actions {
  border-top: 1px solid var(--grimmys-grey);
}

.card {
  border: 1px solid var(--grimmys-grey);
  width: 27vw;
  height: auto;
}

.action-link {
  margin-right: 10px;
  text-decoration: none;
}

.action-link:hover {
  text-decoration: underline;
}

.card-data {
  padding: 20px 15px;
  color: var(--grimmys-grey);
  font-size: 13px;
}
