.scroll-to-top {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: flex-end;
    width: 100vw;
    background-color: transparent
}

#scroll-to-top-button {
    position: absolute;
    margin: 0 25px;
    padding: 10px;
    background: rgba(85, 85, 85, 0.27);
    outline: none;
    border: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    cursor: pointer;
}

#scroll-to-top-button:hover {
    background: #555555;
}