.footer-section {
    width: 100vw;
    height: 70vh;
    background: black;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: space-between;
    padding: 70px;
}

img {
    width: 15vw;
    height: 200px;
}

.top-footer-section {
    display: flex;
    justify-content: space-between;
    align-content: center;
}
