.menu {
  display: flex;
  align-items: center;
  list-style-type: none;

  text-transform: uppercase;
  position: relative;
  padding-inline-start: 0;
}

.menu > li {
  margin: 0 10px;
  font-family: "Oswald", sans-serif;
}

.menu-options,
.dropdown-btn {
  text-decoration: none;
  line-height: 20px;
  color: #ffffff;
}

.menu > li > .menu-options:hover {
  text-decoration: underline;
}

/* DROPDOWN ITEM */

.dropdown-container {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 150px;
  z-index: 1;
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
}

.dropdown-container > .dropdown-btn:hover {
  text-decoration: none;
}

.dropdown-options {
  color: var(--medium-grey);
  text-transform: none;
  text-decoration: none;
}

.dropdown-content > li {
  cursor: pointer;
  display: block;
  padding: 10px;
  margin: 0;
}

.dropdown-content > li:hover {
  background-color: var(--grey-tint);
}

.dropdown-container:hover .dropdown-content {
  display: block;
}

.phone-call,
.phone-no {
  color: var(--white);
}

.phone-no {
  margin: 0 10px;
  font-weight: bold;
  border: none;
}

@media (max-width: 850px) {
  .menu {
    display: none;
  }
}
