.side-drawer__menu {
  background-color: var(--black);
}

.side-drawer__navigation,
.drawer-toggle-button__menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* align-self: center; */
  /* align-content: center; */
}

.drawer-toggle-button__menu {
  align-items: center;
  width: 50%;
}

.side-drawer__navigation {
  height: 10vh;
}

.navigation-button {
  text-transform: capitalize;
  color: var(--white);
}

.active__side-drawer-link {
  background-color: var(--very-light-grey);
  text-decoration: underline;
  color: var(--black);
  text-align: center;
}
