.landing-page {
  background-image: url("../../assets/landing-page-background.jpg");
  background-size: cover;
  width: 100%;
  height: 100vh;
  top: 0;
  display: block;
}

.landing-page::after {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
}

@media (max-width: 850px) {
  .landing-page {
    background-color: var(--black);
    background-image: none;
    height: 10vh;
  }

  .landing-page::after {
    display: none;
  }
}
