:root {
  --margin-block: 25px;
}

.follow-us {
  color: #ffffff;
  text-transform: uppercase;
  width: 15vw;
}

.follow-us > h3 {
  font-family: "Oswald", sans-serif;
  font-size: 18px;
  margin-block-end: var(--margin-block);
}

.social > a {
  color: #a3a3a3;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  font-weight: 400;
  margin-left: 10px;
}

.social {
  line-height: 32px;
}
