@media (max-width: 870px) {
  .links {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    list-style-type: none;
  }

  .navlink-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .is-open {
    background-color: var(--very-light-grey-white);
    transition: background-color 0.2s ease-in-out;
  }
}
