.form-section > label {
  color: var(--dark-grey);
  margin: 3px 0;
}

.form-section {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

.form-section > input {
  padding: 10px;
}

.errors {
  color: red;
  font-size: 12px;
  margin: 5px 0;
}

.captcha {
  font-family: "Fredericka the Great", cursive;
  font-size: 25px;
  margin-top: 10px;
}
