:root {
    --margin-block: 25px;
}

.contact-us {
    color: #ffffff;
    width: 15vw;
}

.contact-us > h3 {
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    margin-block-end: var(--margin-block);
}

span {
    font-family: 'Oswald', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    display: inline-block;
}

.info {
    color: #A3A3A3;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
}