.storage {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
  width: 200px;
  min-height: 70px;
  margin-left: -100px;
  background: #ffffff;
  border: 1px solid var(--light-grey);
  display: flex;
  align-items: center;
  align-self: center;
  text-align: center;
  position: absolute;
  color: var(--light-grey);
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  font-weight: 400;
}

.see-details {
  width: 100%;
  margin-top: 10px;
  background-color: var(--grayish-blue);
  border: none;
  outline: none;
  padding: 10px;
  transition: all 0.3s linear;
  cursor: pointer;
  text-decoration: none;
}

.see-details:hover {
  background-color: var(--grey-tint);
}
