@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap");

:root {
  --grayish-blue: #b6b9c0;
  --medium-grey: #949494;
  --dark-grey: #a3a3a3;
  --grey-tint: #f4f4f4;
  --very-light-grey: #f6f6f6;
  --very-light-grey-white: #eeeeee;
  --white-smoke: #f5f5f5;
  --grey-shadow: 8px 15px 24px -6px rgba(191, 191, 191, 0.64);
  --grey-box-shadow: 0px 10px 7px -4px rgba(211, 211, 211, 1);

  --light-grey: #d3d3d3;
  --star-yellow: #ffc107;
  --crimson: #dc143c;
  --very-light-blue: #80bdff;
  --very-dark-grey: #313131;
  --grimmys-grey: #777;
  --light-grayish-orange: #fdf0d5;
  --very-dark-orange: #6f4400;
  --black: #000000;
  --red: #ff0000;
  --white: #ffffff;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  width: 100vw;
  position: relative;
  font-family: "Open Sans", sans-serif;
  margin: 0;
  font-size: 14px;
}

.new-account-section {
  margin-top: 25px;
}

.navigation-link {
  border-bottom: 1px solid var(--light-grey);
  text-decoration: none;
  color: var(--very-dark-grey);
  font-size: 13px;
  text-transform: uppercase;
  padding: 8px 36px 8px 15px;
}

.navlink {
  text-decoration: none;
}

@media (max-width: 850px) {
  /* *,
  *:before,
  *:after {
    box-sizing: content-box;
  } */
}
