.all-categories {
  height: auto;
  border-right: 1px solid var(--grayish-blue);
  border-bottom: 1px solid var(--grayish-blue);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.container-title {
  font-family: "Oswald", sans-serif;
  font-size: 22px;
  padding-left: 25px;
  width: 100%;
}

.options {
  width: 25vw;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  display: inline-block;
}

.options-list {
  margin-left: 40px;
}

.checkbox-item > input {
  margin: 0 5px;
}

.checkbox-item {
  margin: 20px 0px;
  list-style-type: none;
}

@media (max-width: 880px) {
  .all-categories {
    width: 25vw;
  }
}

@media (max-width: 768px) {
  .all-categories {
    display: none;
  }
}
